div .Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div .Card {
  width: 830px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgba(137, 43, 226, 0.377);
  box-shadow: -4px 12px 5px 1px rgba(0, 0, 0, 0.599);
  box-sizing: border-box;
}

div .Card img {
  width: 20rem;
  height: 21rem;
  /* padding: 2px; */
  border-radius: 15px;
  transition: all 0.5s;
}

div .Card img:hover {
  transform: scale(1.01);
}

div .Card-infos {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: context-menu;
}

div .Card-infos h1 {
  font-size: 2rem;
  color: #fff;
}

div .Card-infos h1:hover {
  color: #fff;
}

div .Card-infos p {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: rgba(158, 74, 255, 0.692);
  border-radius: 6px;
  line-height: 40px;
  padding: 5px;
  transition: all 0.5s;
  cursor: context-menu;
}

div .Card-infos p:hover {
  background-color: rgb(94, 5, 195);
  color: #fff;
}

.header-logout {
  position: absolute;
  left: 27rem;
  color: #fff;
  background-color: rgba(137, 43, 226, 0.377);
  padding: 0.5rem;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
}

.header-logout:hover {
  transform: scale(0.9);
  background-color: rgb(94, 5, 195);
}

@media (max-width: 1280px) {
  div .Card {
    width: 760px;
    height: 370px;
  }

  div .Card img {
    width: 19rem;
    height: 21rem;
  }

  div .Card-infos {
    font-size: 1rem;
    font-weight: bold;
  }
  
  div .Card-infos h1 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  div .Card-infos p {
    width: 100%;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  div .Card {
    width: 700px;
    height: 380px;
    padding: 3px;
  }

  div .Card img {
    width: 15rem;
    height: 20rem;
  }

  div .Card-infos {
    font-size: 1rem;
    font-weight: bold;
  }

  div .Card-infos h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  div .Card-infos p {
    width: 100%;
    font-size: .93rem;
  }
}

@media (max-width: 767px) {
  div .Card {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 650px;
    padding: 10px;
    margin-bottom: 1rem;
  }

  div .Card img {
    width: 15rem;
    height: 14rem;
  }

  div .Card-infos {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: bold;
    box-sizing: border-box;
  }

  div .Card-infos h1 {
    font-size: 1.15rem;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
  }

  div .Card-infos p {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    /* font-weight: bold; */
  }
}

@media (max-width: 1750px) {
  .header-logout {
    position: absolute;
    top: 44rem;
    left: 50%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .header-logout {
    position: absolute;
    top: 53rem;
    left: 47%;
    margin-bottom: 1rem;
  }
}
